@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply relative;
  }

  html {
    @apply overflow-x-hidden scroll-smooth bg-black /* B5 */ text-20 md:text-24 font-body;
    color-scheme: dark;
  }

  .h1 {
    @apply text-40 md:text-65 font-header font-black;
  }

  .h2 {
    @apply text-35 md:text-50 font-header font-black;
  }

  .h3 {
    @apply text-30 md:text-38 font-header font-black;
  }

  .h4 {
    @apply text-27 md:text-30 font-header font-black;
  }

  .b1 {
    @apply text-30 md:text-38 font-body;
  }

  .b2 {
    @apply text-27 md:text-34 font-body;
  }

  .b3 {
    @apply text-24 md:text-30 font-body;
  }

  .b4 {
    @apply text-22 md:text-27 font-body;
  }

  .b5 {
    @apply text-20 md:text-24 font-body;
  }

  .b6 {
    @apply text-18 md:text-22 font-body;
  }

  .b7 {
    @apply text-14 md:text-20 font-body;
  }
}

@layer components {
  .person-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #808080 #000;
  }

  .person-scrollbar::-webkit-scrollbar {
    @apply w-[8px];
  }

  .person-scrollbar::-webkit-scrollbar-track {
    @apply bg-black;
  }

  .person-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[4px] bg-gray-5;
  }
}

/* Recharts */
.recharts-cartesian-grid line {
  @apply stroke-gray-6 stroke-2 opacity-50;
  stroke-linecap: round;
}

.recharts-cartesian-grid-vertical > line {
  stroke-dasharray: 2 2;
}

.recharts-cartesian-axis-line {
  @apply stroke-white stroke-2;
  stroke-linecap: round;
}

.recharts-line path {
  stroke-linecap: round;
}

button[data-headlessui-state="open"] .accordion-arrow {
  @apply rotate-180;
}

@layer utilities {
  .nobr {
    @apply whitespace-nowrap;
  }

  .text-balance,
  .text-center {
    text-wrap: balance;
  }

  .no-balance {
    text-wrap: wrap;
  }

  summary.no-arrow {
    list-style: none;
  }

  summary.no-arrow::-webkit-details-marker {
    display: none;
  }

  .fake-bullet {
    padding-left: 1.5ch;
  }

  .fake-bullet > li::before {
    content: "• ";
    margin-left: -1.5ch;
    display: inline-block;
    width: 1.5ch;
  }
}
